# Data and computation
numpy==1.26.4
pandas==2.1.0
python-dateutil==2.8.2
pytz==2023.3

# HTTP requests & environment
requests==2.31.0
python-dotenv==1.0.1

# Selenium
selenium==4.13.0

# tqdm
tqdm==4.66.1

# NLTK for sentiment analysis
nltk==3.9.0

# GoogleNews
GoogleNews==1.6.6

# OpenAI API
openai==0.27.8   # last version fully compatible with Python 3.10

# Kite Connect (Zerodha)
kiteconnect==4.3.0  # last version compatible with Python 3.10

# SQLAlchemy
SQLAlchemy==2.0.20

# PyOTP
pyotp==2.9.0

# Azure Key Vault
azure-identity==1.16.0
azure-keyvault-secrets==4.9.0
